<!--
// +----------------------------------------------------------------------
// | index
// +----------------------------------------------------------------------
// | Author: 2851986856@qq.com
// +----------------------------------------------------------------------
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>　　1、 Hello！</p>
<p>　　2、 How are you？-I&rsquo;m fine.Thank you.</p>
<p>　　3、 Good morning/afternoon/evening/night.</p>
<p>　　4、 Excuse me.</p>
<p>　　5、 Thank you！</p>
<p>　　6、 You are welcome.</p>
<p>　　7、 How are you today？</p>
<p>　　8、 Nice to meet you.</p>
<p>　　9、 What&rsquo;s your name？</p>
<p>　　10、 My name is &times;&times;&times;.</p>
<p>　　11、 What can I do for you？</p>
<p>　　12、 What&rsquo;s wrong with you？</p>
<p>　　13、 It&rsquo;s time for class.</p>
<p>　　14、 Come in please.</p>
<p>　　15、 Let&rsquo;s get ready for class！</p>
<p>　　16、 Line up please！</p>
<p>　　17、 Attention please！</p>
<p>　　18、 At ease.</p>
<p>　　19、 Turn left/right！</p>
<p>　　20、 One bye one please.No pushing.</p>
<p>　　21、 Let&rsquo;s go back to the classroom.</p>
<p>　　22、 It&rsquo; time for breakfast.</p>
<p>　　23、 Please eat up. Take your time.</p>
<p>　　24、 Would you like some rice！</p>
<p>　　25、 Help yourself.</p>
<p>　　26、 Please have some fish/vegetables.</p>
<p>　　27、 Do you want anymore？</p>
<p>　　28、 Anything to drink？</p>
<p>　　29、 I&rsquo;d like to drink some milk！</p>
<p>　　30、 Today we are going to learn some new worlds.</p>
<p>　　31、 Who wants to try？</p>
<p>　　32、 Let me try！</p>
<p>　　33、 It&rsquo;s your turn.</p>
<p>　　34、 Don&rsquo;t be afraid/shy！</p>
<p>　　35、 Try your best！</p>
<p>　　36、 Do you understand？</p>
<p>　　37、 Stand up/Sit down,please.</p>
<p>　　38、 Listen to me carefully,please.</p>
<p>　　39、 Look at me，please.</p>
<p>　　40、 Watch carefully.</p>
<p>　　41、 What are you going to do tonight？</p>
<p>　　42、 I&rsquo;m going to Disney&rsquo;s English Club.</p>
<p>　　43、 I&rsquo;m going to learn Disney&rsquo;s Magic English.</p>
<p>　　44、 What&rsquo;s on tonight？</p>
<p>　　45、 Let&rsquo;s watch TV.</p>
<p>　　46、 We are going to the Pople&rsquo;s Prk.</p>
<p>　　47、 Be quiet,please.</p>
<p>　　48、 Stop talking！</p>
<p>　　49、 Don&rsquo;t worry about it.</p>
<p>　　50、 No problem.</p>
<p>　　51、 Clap your hands.</p>
<p>　　52、 Class is over.</p>
<p>　　53、 See you next time,Bye bye!</p>
<p>　　54、 Well done!</p>
<p>　　55、 You are so smart！</p>
<p>　　56、 How clever you are！</p>
<p>　　57、 Let&rsquo;s have a rest/take a break.</p>
<p>　　58、 It&rsquo;s time to go to bed.</p>
<p>　　59、 It&rsquo;s time to get up.</p>
<p>　　60、 Wash your face/hands/foot.</p>
<p>　　61、 Comb your hair.</p>
<p>　　62、 Brush your teeth.</p>
<p>　　63、 Come on,Let&rsquo;s play together.</p>
<p>　　64、 Let&rsquo;s play a game.</p>
<p>　　65、 You are getting better and better.</p>
<p>　　66、 You&rsquo;re making progress everyday.</p>
<p>　　67、 You&rsquo;re always the best.</p>
<p>　　68、 You speak English very well.</p>
<p>　　69、 Do you like English？</p>

</body>
</html>
