.no-border{
    border:none !important;
}
.text-center{
    text-align: center;
}
.red{
    color: red;
}
.user_main{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 20px;
    width: 600px;
    height: 220px;
    background-color: white;
}
.login_text, .publish_text{
    margin: 0 0 20px 0;
    font-size: 26px;
}
