body{
    background-color: #F3F3F3;
}
.l{
    float: left;
}
.r{
    float: right;
}
.p0{
    padding: 0px !important;
}
.mb20{
    margin-bottom: 20px;
}
.logo{
    max-width: 100%;
    max-height: 100%;
}
